body{
    margin:0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Monserrat",sans-serif;
}
.header-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/img/background2.jpg');
    background-size: cover;
    background-position-x: center ;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-blend-mode: overlay;
    background-color: rgba(24, 23, 23, 0.2);
   
}
.header-container p{
    color: white;
    width:30%;
    text-align: center;
    font-size: 5rem;
    animation: move-text 2s ease-out forwards;
}
@keyframes move-text{
    0% {
        transform: translateY(100vh); 
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(30%);
        opacity: 1; 
    }
}


.header-container img {
    width: 100%;
    height: auto;
    display: block;
}
.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    background-color: transparent; 
    transition: background-color 0.4s ease-in-out
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 3;
}
.navbar-logo h1{
    color: white;
    transition: color 0.4s ease-in-out
}
.navbar-options {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-options li {
    margin: 0 10px;
}

.navbar-options li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.4s ease-in-out;
    padding:10px;
}
.navbar-scrolled {
    background-color: white;
}
.navbar-scrolled li a ,
.navbar-scrolled .navbar-logo h1{
    color: black
}
.hamburger-menu{
    display: none;
    position: relative;
}

@media only screen and (max-width: 780px) {
    .navbar-options {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: rgba(24, 23, 23, 0.9);
        width: 100%;
        height: 100vh;
        display: none; 
        justify-content: center;
        align-items: center;
    }
    .navbar-options.open { 
        display: flex; 
    }
    .navbar-options li {
        margin: 20px 0;
    }

    .hamburger-menu{
        display: block;
        position: relative; 
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
    .hamburger-menu img {
        position: absolute;  
        top: 0;
        left: 0;
        width: 100%; 
        height: auto;
        transition: opacity 0.4s ease-in-out; 
    }
    .menu-icon-default{
        opacity: 1;
    }
    .menu-icon-scrolled {
        opacity: 0;
    }
    .navbar-scrolled .menu-icon-default {
        opacity: 0;
    }

    .navbar-scrolled .menu-icon-scrolled {
        opacity: 1;
    }

}
